<header class="search_box">
  <div class="search_box__wrapper">
    <a to="/" class="search_box__image_link" onClick="clearSearchValue">
      <img
        class="search_box__meli_logo"
        src="assets\img\Logo_ML.png"
        alt="logo meli"
      />
    </a>

    <input
      class="search_box__search_input"
      type="text"
      placeholder="Nunca dejes de buscar"
      aria-label="buscador de productos"
      name="query"
      id="query"
      #query
    />

    <button
      type="submit"
      class="search_box__search_button"
      aria-label="sbTexts.search_btn"
      (click)="searchThis(query.value)"
    >
      <img
        class="search_box__search_icon"
        src="assets\img\ic_Search.png"
        alt="icono de busqueda"
      />
    </button>
  </div>
</header>
